<div class="bg-white p-8 rounded-md shadow-md">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-3xl font-bold">New Blog Post</h1>
  </div>
  <%= render 'form', blog_post: @blog_post %>
</div>
