<!-- FILEPATH: /Users/oldri/Documents/Development/ruby-sandbox/go-rails/blog/app/views/blog_posts/new.html.erb -->
<div class="content-section">
  <h1>New Blog Post</h1>
  <%= render 'form', blog_post: @blog_post %>
</div>
