<% if flash[:notice].present? %>
<div id="flash-notice" class="flash-notice"><%= notice %></div>
<% end %>
<script>
  document.addEventListener("turbo:load", function () {
    let flashNotice = document.getElementById("flash-notice");

    if (flashNotice) {
      setTimeout(function () {
        flashNotice.style.transition = "opacity 1s";
        flashNotice.style.opacity = "0";
        setTimeout(function () {
          flashNotice.style.display = "none";
          flashNotice.style.transition = "";
        }, 1000);
      }, 2500);
    }
  });
</script>
