<div style="font-family: Arial, sans-serif; max-width: 600px; margin: auto;">
    <h2 style="color: #333; font-size: 24px; font-weight: bold;">Hello <%= @resource.email %>!</h2>

    <p style="color: #333; font-size: 16px;">We're contacting you to notify you that your password has been changed.</p>
</div>